.aboutUsPageWrapper

  div.contentContainer
    background-color: rgba(217, 231, 233, 0.8)
    margin: 5rem 0

    section.section
      padding: 3rem

  .intro
    margin: 1rem 0 3rem
    text-align: left
    text-indent: 3rem

  .profile
    display: inline-block
    width: 45%
    font-size: .8rem
    margin: 1rem 0 2rem

    &:nth-child(2n)
      margin: auto auto auto 10%

      .columns
        flex-direction: row-reverse

    .icon_github, .icon_behance, .icon_linked
      width: 20px
      height: 20px