nav.navbar
  background-color: rgba(255,255,255, 0.7)
  font-size: 0.8rem
  height: 42px
  margin: 0 !important
  position: relative
  width: 100vw
  
  .borderCurve
    position: absolute
    bottom: -20px
    // background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAAATCAMAAABFogS7AAAAaVBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8G612AAAAInRSTlMA7vcP9Onj0Z+YUTf78duypXNsZGA+Mi0mGRUMAsKFSC4FyzIjBgAAAJdJREFUSMfN0lcOwjAURNHBTm+kkU6b/S8SJH5QsMMHKM9nBSPNxZPuq5A/8A7/FMTJMONlaTw6wa803nU+HRBNWEkVpWU1Pl0orYWBzikrhlFJUWqEUUtREcxOFFXDbKCoK8xmiuph4VNQpmERUdAZcLH5BlZHiinusJoCClEpNtyEdnkJNo0iP4YdvknjMOeOVFEmC1Ye84k1el1JJAwAAAAASUVORK5CYII=')
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-166 -589 532 71'%3E%3Cpath d='M366-589c-6 1-11 5-16 9-6 7-10 16-10 26 0 20-15 36-34 36h-411c-9 0-18-4-24-10-7-7-10-16-10-26 0-17-12-31-27-35h532z' fill='rgba(255,255,255,0.7)'/%3E%3C/svg%3E%0A")
    background-size: contain
    background-position: center top
    background-repeat: no-repeat
    width: 158px
    height: 20px
    opacity: 1

  svg#svgLogo
    display: block
    width: 152px
    height: 62px
    max-height: inherit
    padding: 5px 0
    box-sizing: content-box
    margin: 0
    position: relative
    top: 12px
    border-radius: 0 0 20px 20px

  .menu
    font-size: 0.8rem

    .menu-list
      background-color: #eee