.howToPraySalahPageWrapper
  margin: 7rem 0 0
  // height: calc(100vh - 42px - 7rem)

  .titleContainer
    text-align: right
    position: relative
    &::before
      content: ""
      position: absolute
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 140.76 18.79'%3E%3Cpath fill='rgba(217, 231, 233, 0.8)' d='M0 18.79c1.59-.27 2.91-1.33 4.23-2.39a10.58 10.58 0 0 0 2.65-6.87c0-5.3 3.97-9.53 9-9.53h108.74a9.24 9.24 0 0 1 6.35 2.65 9.37 9.37 0 0 1 2.64 6.88c.01 4.5 3.19 8.2 7.16 9.26z'/%3E%3C/svg%3E%0A")
      width: 20em
      height: 150%
      display: block
      background-repeat: no-repeat
      right: 0
      background-size: cover
      bottom: 0
    h1.title
      display: inline
      position: relative
      margin: 0 1.2em
      text-transform: uppercase
      z-index: 1

  .contentContainer
    // height: calc(100% - 29px - 15px)
    background-color: rgba(217, 231, 233, 0.8)

    section.section
      // height reducts padding, pagination, rakaats padding
      // rakaats margin & rakaats content
      // height: calc(100% - 3rem - 44px - 3.5rem - 67px)
      // height: calc(100% - 3rem - 3.5rem - 67px)
      // height: calc(100% - 44px) // temp
      padding-top: 1.5rem
      padding-bottom: 1.5rem
      margin-left: 3rem
      margin-right: 3rem

      .columns,.column
        height: 100%
        padding-top: 0
        padding-bottom: 0

      .contentVerticalCentre
        position: relative
        margin: 3rem 0
        // top: 50%
        // transform: translateY(-50%)

  .rakaatsInfo
    padding: 2rem 0 0
    margin-top: 1rem
    position: relative
    // used for breaking paras into blocks for rakaats
    // section, bug in Bulma? File a github issue
    .blockContainer
      display: block
    
    h1.title.is-size-6
      position: absolute
      top: 0

.wordByWordContainer
  display: flex
  flex-direction: row-reverse
  flex-wrap: wrap
  margin: 1rem 0

  div.wordsContainer
    display: inline-block
    background-color: rgba(235, 235, 235, 0.5)
    border: 1px solid rgb(235,235,235)
    border-radius: 24px
    padding: 5px
    margin: 3px 1px

    &:last-child
      margin-right: 0

    .word
      display: block
      line-height: 1.75em
      text-align: center
    .arabicTxt
      font-size: 1.3rem
      line-height: 1.25
      position: relative
      top: 3px
    .transliteration
      font-size: 1rem
      font-weight: 700
      text-transform: uppercase
    .translation
      font-size: .6rem
      line-height: 1.25
      

.transliterationContainer
  padding: 1rem 0

  span
    background-color: rgba(235, 235, 235, 0.5)
    border-radius: 3px
    font-weight: 600


svg.svgIllustration
  width: 100%
  // max-height: calc(100% - 3.5rem - 44px)
  min-height: 420px
  max-height: 600px
  height: calc(100% - 3.5rem - 80px)