.howToPraySalahPageWrapper
  margin: 7rem 0 0

  .titleContainer
    text-align: right
    h1.title
      display: inline

  .contentContainer
    background-color: rgba(156, 231, 243, 0.7)

    section.section
      padding-top: 1.5rem
      padding-bottom: 1.5rem

  .rakaatsInfo
    padding: 2rem 0 0
    // used for breaking paras into blocks for rakaats
    // section, bug in Bulma? File a github issue
    .blockContainer
      display: block
  
div.wordsContainer
  display: inline-block
  padding: 0 3px

  .word
    display: block
    text-align: center
  .arabicTxt
    font-size: 1.5rem
  .transliteration
    font-size: 1.25rem
    font-weight: 700
  .translation
    color: #555
    font-size: .8rem

svg.svg
  width: 100%
  // max-height: 460px
  max-height: 400px